@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  background-color: rgb(6, 19, 50);
  height: min-content;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 20px;
}
.header-left,
.header-right ul {
  display: flex;
}
.header-right ul li {
  list-style: none;
  padding: 20px;
  cursor: pointer;
  color: white;
}
.navlink{
    text-decoration: none;
}
.header-right ul li:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}
.header-left img {
  height: 60px;
  margin-left: 30px;
}
.header-left h1 {
  margin-left: 10px;
  color: #0889fc;
  text-shadow: 0px 0px 15px #0889fc;
}
